@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

menu {
    display: none;
}

article {
    width: 100%;
}
article::after {
    content: 'Esse artigo foi impresso através do site curso em vídeo.com'
}

